ci:
  autoupdate_schedule: "quarterly"
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.2
  hooks:
    - id: ruff
      args: ["--fix", "--unsafe-fixes"]
    - id: ruff-format
