API Reference
=============

.. autosummary::
    :toctree: generated/
    :nosignatures:

    {% for cls in classes %}
      {{ cls }}
    {% endfor %}
    {% for function in functions %}
      {{ function }}
    {% endfor %}
